.containerTrailer{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000000da;
}

.janela {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: relative;
    z-index: 1000;
}

.fechar{
    position: absolute; 
    top: 20px; 
    right: 20px;
    background-color: rgba(166, 149, 90, 1);
    border: 1px solid black;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    align-self: flex-end;
    cursor: pointer;
}

.modal-pai{
    display: flex;
    align-items: center;
    justify-content: center;
}
