.hamburger {
  width: 2.2vw;
  height: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.4vw;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 270px;
  height: 300%;
  background-color: rgb(244, 109, 27);
  color: white;
  transition: all 0.3s ease;  
}

.menu.open {
  left: 0;
  z-index: 2;
}

.fechar {
  display: inline-block;
  font-size: 52px;
  font-weight: 100;
  margin-top: 3%;
  margin-left: 80%;
  text-align: end;
  cursor: pointer;
}

.titleCategories{
  font-size: 20px;
  font-weight: 700;
  margin-top: 15%;
  padding-left: 20%;
  padding-bottom: 9px;
}

.categories {
  padding-left: 20%;
  font-size: 16px;
  padding-bottom: 9px;
}

.hamburger.open .line:nth-child(1) {
  opacity: 0;
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  opacity: 0;
}