.hamburger {
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 6px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 270px;
  height: 100%;
  background-color: rgb(244, 109, 27);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.menu.open {
  left: 0;
  z-index: 50;
}

/* .categories{
    text-align: left;
  } */

.hamburger.open .line:nth-child(1) {
  transform: rotate(50deg) translateY(23px);
  z-index: 100;
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-50deg) translateY(-22px);
  z-index: 100;
}
