  .Anime {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 101%;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .pages-header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;    
    margin-left: -3.33%;
    margin-right: -2.25%;
    margin-top: -3.4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .linkhomePages img {
    margin-top: -15px;
    width: 140px;
  }

  .animePage{
    min-height: 100vh;
    display: flex;
    width: 90%;
    margin-left: 3%;    
  }  

  .animeImage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10vw;
  }

  .animeImage button{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 109, 27);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: pointer;
    gap: 10px;
  }

  .animeImage h3{
    font-size: 18px;
  }
  
  .animeDescription{
    margin-top: 16.8vw;
    margin-left: 3%;
    color: rgba(60, 60, 60, 1);
  }

  .animeDescription h2{
    font-size: 26px;
    padding-bottom: 20px;
  }

  .animeDescription p{
    font-size: 16px;
  }
  
  
  