*{
  margin: 0;
  padding: 0;
}

.App{
  background-image: url(../public/banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  width: 100%;
}

.content{
  width: 100%;
  height: 100%;
  margin: auto;
  margin: 3%;
}

.sideBar{
  background-color: rgb(244, 109, 27);
  padding: 1.5vw;
  display: flex;
  justify-content: center;
  width: 10vw;
}

.linkhome img{
  width: 12vw;
}

.App-header{  
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90vw;
  height: 20vh;
  margin-bottom: 20vh;
}


.displayPopulares {
  width: 90%;
}

.displayPopulares h2{
  margin-bottom: 2%;
}

.imagensPopulares{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.display5animes img{  
  width: 17vw;
  margin-bottom: 5%;
  
}