* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: url(../public/banner.png);
  background-repeat: no-repeat;
  background-size: 101%;
  display: flex;
  width: 100%;
}

.content {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-left: 3%;
  margin-top: 3%;
}

.sideBar {
  background-color: rgb(244, 109, 27);
  padding-top: 1.5vw;
  display: flex;
  justify-content: center;
  width: 10%;
}

.linkhome img {
  width: 15vw;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 90%;
  height: 20vh;
  margin-bottom: 20vh;
}

.displayPopulares {
  width: 100%;
}

.displayPopulares h2 {
  margin-bottom: 2%;
}

.imagensPopulares {
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.display5animes img {
  width: 16vw;
  margin-bottom: 5%;
}
