*{
  margin: 0;
  padding: 0;
}

.App{
  background-image: url(../public/banner.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-header{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.imagensPopulares{
  display: flex; 
  justify-content: space-between;
}

.displayPopulares {
  padding: 5%;
}