  .List {
      background-color: rgb(255, 255, 255);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 101%;
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
  }

  .listDisplay {
      width: 100%;
      min-height: 50vh;
      margin-bottom: 7%;
      margin-top: 3%;
  }

  .listDisplay h2{
    margin-bottom: 2%;
    font-size: 2.3vw;
  }

  .listTitle{
    display: flex;
    align-items: center;
    color: rgb(244, 109, 27);
  }

  .iconMovie{
    padding-bottom: 1.3vw;
  }

  .imagesList {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 1.2vw;
      row-gap: 1.5vw;
      width: 99%;
      min-height: 100vh;
  }

  .display5list img{
    width: 16.4vw;
  }