.container img {
  width: 96%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.swiper {
  animation-delay: 500ms;
}

.swiper-slide {
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-wrapper {
  width: 100%;
}

:root {
  --swiper-theme-color: rgb(244, 109, 27);
}
